@using LinkHolder.Utils

@model LinkHolder.ViewModels.HomeIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create Links</h4>
    </div>
    <div class="card-body">
        <form method="post">
            <input asp-for="Link.Content" size="100"/>
            <br />
            @for (var i = 0; i < Model.AllPosibleTags.Length; i++)
            {
                @Html.HiddenFor(x => Model.AllPosibleTags[i].id)
                <br />
                @Html.CheckBoxFor(x => Model.AllPosibleTags[i].IsChecked)
                @Html.DisplayFor(x => Model.AllPosibleTags[i].Title)
            }
            <br />
            <br />
            <input type="submit" name="save" value="Save" />
        </form>
    </div>
</div>