@model IEnumerable<LinkHolder.Models.Link>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table border="1">
    @foreach(var link in Model)
    {
        <tr>
            <td>@link.Content</td>
            <td>@link.Title</td>
            <td>
                <ul>
                    @foreach(var tag in link.LinkTags)
                    {
                        <li>@tag.Tag.Name</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>

